* {
  text-indent: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(to bottom left, #311023, $color-blk);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center
}

a {
  color: inherit;
}

:global(#app) {
  height: 100%;
}

.container {
  @include font-smoothing;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-sans;
  overflow: hidden;

  @include mobile {
    min-width: 100%;
    max-width: 100%;
  }
}
