@import 'variables';

%durationBar {
  position: absolute;
  right: 0;
  left: 0;
  height: $progress-bar-height;
  cursor: pointer;
}

.container {
  @extend %durationBar;
  top: -$progress-bar-height;
  z-index: 1;
}

.elapsed {
  @extend %durationBar;
  background: $color-primary;
  width: 0%;
  transition: width 1s;
}

.time {
  color: $color-wht;
  font-size: 10px;
  background: inherit;
  position: absolute;
  right: -17px;
  height: $progress-bar-height + 6px;
  width: 35px;
  text-align: center;
  line-height: $progress-bar-height + 6px;
  top: -3px;
  background: $color-primary;
  border-radius: 3px;

  @include mobile {
    display: none;
  }
}