@import 'variables';


.container {
  position: relative;
  min-height: $info-album-height;
  display: flex;
  align-items: center;
  flex: 0 0;

  @include mobile {
    justify-content: center;
    min-height: $info-album-height + 10px;
  }
}
