@import 'variables';

:local {
  .footer {
    background: $color-newton;
    position: relative;
    min-height: $info-album-height;
    display: flex;
    align-items: center;
    flex: 0 0;
    > * {
      text-align: left;
    }
  }
}