@import 'variables';

.container {
  display: flex;
  align-items: center;
  flex: 0 0;
  min-height: $header-height;

  input {
    margin-left: 15px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5);
    width: 300px;
    color: $color-gauss;
    font-size: 18px;
    line-height: $input-height;
    height: $input-height;
    text-indent: 8px;
    transition: box-shadow .35s;

    &:focus {
      box-shadow: 0px 0px 5px 2px $color-primary inset;
    }

    &::-webkit-input-placeholder {
      color: $color-kinsey;
    }
  }

  @include desktop {
    padding-right:20px;
    margin: 7px 25% 0;
    transition: min-height 1s, margin-left 1s;
  }

  @include mobile {
    padding: 0 10px;

    svg {
      display: none;
    }

    input {
      width: 100%;
      margin-left: auto;
      font-size: 22px;
      line-height: $input-height + 10px;
      height: $input-height + 10px;
    }
  }
}

.logo {
  margin-left: 5px;
  fill: darken($color-primary, 5%);
  transition: width 1s;
}

.small {
  @include desktop {
    .logo {
      width: 80px;
    }

    &.container {
      margin: 0;
    }
  }

}
