@import 'variables';

:local {
  .info {
    color: $color-leland;
    width: 70%;
    font-weight: 300;

    :global(.albumart) {
      width: $info-album-height;
      max-width: $info-album-height;
      height: $info-album-height;
      background-size: $info-album-height;
      float: left;
      margin-right: 10px;
    }
  }

  .name, .artistalbum {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  .name {
    margin-top: 4px;
    font-size: 19px;
    color: $color-sagan;
  }

  .artistalbum {
    font-size: 16px;
    color: $color-leland;
  }
}