@import 'variables';


.container {
  svg {
    float: left;
  }

  svg {
    &:hover {
      cursor: pointer;
      fill: $color-primary;
    }
  }

  @include desktop {
    right: 15px;
    position: fixed;
  }

  @include mobile {
    right: auto;
    flex-direction: column;
    justify-content: center;
    > svg {
      transform: scale(.8);
    }
  }
}

.prevNext {
  margin-top: -3px;
}
