@import 'variables';

:local {
  .player {
    right: 15px;
    position: fixed;
    white-space: nowrap;
    overflow: hidden;

    > * {
      float: left;
    }
  }

  %controlButtons {
    @extend %spriteProperties;
    background-size: 275px;
    width: 60px;
    height: $info-album-height;
    &:hover {
      cursor: pointer;
      background-color: $color-highlight;
    }
  }

  .previous {
    @extend %controlButtons;
    background-position: 6px -170px;
  }

  .next {
    @extend %controlButtons;
    background-position: -138px -170px;
  }

  .shuffle {
    @extend %controlButtons;
    background-position: -196px -170px;
  }

  .on {
    background-position: -196px -214px;
  }

  .pause {
    @extend %controlButtons;
    background-position: -43px -170px;
  }

  .play {
    @extend %controlButtons;
    background-position: -86px -170px;
  }

  [active] {
    background-color: $color-primary;
  }
}