.container {
  svg {
    float: left;

    @include mobile {
      margin-left: 10px;
      margin-right: 10px;
    }

    @include desktop {
      &:hover {
        cursor: pointer;
        fill: $color-primary;
      }
    }
  }

  @include desktop {
    min-width: 245px;
  }

  @include mobile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.prevNext {
  margin-top: -3px;
}
