@import 'variables';

.container {
  opacity: 0;
  transition: opacity 1s;
  flex-direction: row;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex: 1;
  flex-flow: column;
  margin-bottom: $progress-bar-height;
  justify-content: flex-start;

  // individual song, including album
  > div {
    @extend %individualSongWrapper;

    &.playing {
      background: $color-highlight;

      > div > p {
        position: relative;
        color: lighten($color-primary, 20%);
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: $color-primary;
  }
}

.show {
  opacity: 1;
}

%individualSongWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
  transition: background .15s;
  @include desktop {
    min-height: $song-height + 10px;

    &:hover {
      cursor: pointer;
      background: $color-highlight

      :global(.aa) {
        opacity: .6;
      }
    }
  }

  @include mobile {
    min-height: $song-height + 20px;
  }
}

.track > div {
  flex: 1 0;
  font-size: 16px;
  color: $color-wht;
  overflow: hidden;
  margin-left: 12px;

  p {
    @extend %ellipsisOverflow;

    /*
      nth-of-type(1): title
      nth-of-type(2): artist/album
      nth-of-type(3): time
    */
    @include desktop {
      line-height: 20px;

      &:nth-of-type(1) {
        padding-right: 50px;
      }

      &:nth-of-type(2) {
        font-size: 13px;
        padding-right: 50px;
      }
    }

    @include mobile {
      line-height: 24px;

      &:nth-of-type(1) {
        font-size: 18px;
      }

      &:nth-of-type(2) {
        font-size: 15px;
      }
    }

    &:nth-of-type(2) {
      color: $color-leland;
    }

    &:nth-of-type(3) {
      font-size: 12px;
      margin-top: -30px;
      float: right;

      @include mobile {
        display: none;
      }
    }
  }
}

:global(.aa) {
  flex: 1 0 auto;
  transition: opacity .15s;
  display: inline-block;
  margin-left: 5px;
  line-height: $song-height;
  min-height: $song-height;
  max-width: $song-height;
  width: $song-height;
  height: $song-height;
  background-size: $song-height;
  position: relative;
}

