@import 'variables.scss';

:local {
  .results {
    @extend %songList;

    addall {
      float: right;
      cursor: pointer;
      width: 30%;
      text-align: left;
      font-size: 14px;
    }

    term {
      margin-left: 5px;
      margin-right: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $color-primary;
    }

    song {
      min-height: $song-height;
      albumart {
        width: $song-height;
        height: $song-height;
        background-size: $song-height;
      }
      &[playing] {
        albumart:before {
          @extend %eq;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        cursor: pointer;
        background: $color-highlight;
        albumart:before {
          @extend %spriteProperties;
          background-size: 200px;
          content: " ";
          background-position: -65px -126px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}