@import 'variables';

.sidebar {
  display: flex;
  flex-direction: column;
  order: 1;
  flex: none;
  min-width: 160px;
  color: $color-gauss;
  background: $color-newton;

  span {
    font-size: 18px;
    line-height: $sidebar-menu-height;
    font-weight: 300;
    text-indent: 20px;

    &:hover {
      background: $color-highlight;
    }
  }
}

span.selected {
  text-indent: 16px;
  &:before {
    content: " ";
    float: left;
    background: $color-primary;
    width: 4px;
    height: $sidebar-menu-height;
  }
}

span.playlist {
  font-size: 12px;
  font-weight: bold;
  text-indent: 30px;
  line-height: 24px;
  &:hover {
    cursor: pointer;
  }
}