@import 'variables';

:local {
  .songs {
    overflow: auto;
    color: $color-leland;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    margin-bottom: $progress-bar-height;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb:vertical {
      background: $color-primary;
    }
  }

  .playing {
    background: $color-highlight;
  }

  .song {
    min-height: $song-height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &:hover {
      cursor: pointer;
      background: $color-highlight;

      :global(.albumart):before {
        @extend %spriteProperties;
        background-size: 200px;
        content: " ";
        background-position: -65px -126px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.playing {
      :global(.albumart):before {
        @extend %eq;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  %trackInfoSizing {
    flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: $song-height;
    min-height: $song-height;
  }

  :global(.albumart) {
    @extend %cover;
    @extend %trackInfoSizing;
    display: inline-block;
    max-width: $song-height;
    width: $song-height;
    height: $song-height;
    background-size: $song-height;
    position: relative;
  }

  .name {
    @extend %trackInfoSizing;
    width: 30%;
    text-indent: 8px;
  }

  .artist {
    @extend %trackInfoSizing;
    width: 20%;
  }

  .album {
    @extend %trackInfoSizing;
    width: 35%;
  }
}

