@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$color-wht: #ddd;
$color-blk: #111;
$color-gauss: darkgrey;
$color-kinsey: #33353a;
$color-newton: #232427;
$color-sagan: gainsboro;
$color-leland: #9c9c9c;
$color-primary: #00e7f5;
$color-highlight: rgba(0, 0, 0, 0.5);

$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$font-serif: "Georgia", serif;

$info-album-height: 65px;
$song-height: 50px;
$progress-bar-height: 10px;
$header-height: 75px;
$input-height: 40px;
$sidebar-menu-height: 36px;

%ellipsisOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 15px;
}