@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$color-wht: white;
$color-blk: black;
$color-gauss: darkgrey;
$color-kinsey: #33353a;
$color-newton: #232427;
$color-sagan: gainsboro;
$color-leland: #9c9c9c;
$color-primary: #3179a1;
$color-highlight: rgba(255, 255, 255, 0.05);

$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$font-serif: "Georgia", serif;

$info-album-height: 60px;
$song-height: 34px;
$progress-bar-height: 10px;
$header-height: 65px;
$input-height: 34px;
$sidebar-menu-height: 36px;

%cover {
  background-image: url("images/cover.png");
}

%eq {
  background: url("images/eq.gif") rgba(0, 0, 0, 0.7) -2px -3px !important;
}

%spriteProperties {
  background-image: url("images/sprite.png");
  background-repeat: no-repeat;
  text-indent: -999em;
  overflow: hidden;
  display: inline-block;
}