{
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint,
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaFeatures": {
      "jsx": true,
      "classes": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-var": 1,
    "prefer-const": 1,
    "no-shadow": 0,
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-unused-vars": [1, {"varsIgnorePattern": "React"}],
    "no-use-before-define": 1,
    "no-cond-assign": [1, "always"],
    "no-console": 1,
    "no-debugger": 1,
    "no-alert": 1,
    "no-constant-condition": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-obj-calls": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 1,
    "use-isnan": 1,
    "block-scoped-var": 1,
    "arrow-body-style": [1, "as-needed"],
    "consistent-return": 0,
    "curly": [1, "multi-line"],
    "default-case": 1,
    "dot-notation": [1, {
      "allowKeywords": true
    }],
    "eqeqeq": 1,
    "no-caller": 1,
    "no-else-return": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-implied-eval": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-param-reassign": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": [1, "any"],
    "yoda": 1,
    "indent": [1, 2],
    "brace-style": [
      1,
      "1tbs", {
        "allowSingleLine": true
      }
    ],
    "quotes": [
      1, "single", "avoid-escape"
    ],
    "camelcase": [1, {
      "properties": "never"
    }],
    "comma-spacing": [1, {
      "before": false,
      "after": true
    }],
    "comma-style": [1, "last"],
    "eol-last": 0,
    "func-names": 0,
    "key-spacing": [1, {
      "beforeColon": false,
      "afterColon": true
    }],
    "new-cap": [1, {
      "newIsCap": true
    }],
    "no-multiple-empty-lines": [1, {
      "max": 2
    }],
    "no-nested-ternary": 1,
    "no-new-object": 1,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-extra-parens": [1, "functions"],
    "no-underscore-dangle": 0,
    "one-var": [1, "never"],
    "padded-blocks": [1, "never"],
    "semi": [1, "always"],
    "semi-spacing": [1, {
      "before": false,
      "after": true
    }],
    "keyword-spacing": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": [0, "never"],
    "space-infix-ops": 1,
    "spaced-comment": [1, "always",  {
      "exceptions": ["-", "+"],
      "markers": ["=", "!"]
    }],
    // React
    "jsx-quotes": [1, "prefer-double"],
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": [1, "disallow-in-func"],
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1
  }
}
